<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Git Api
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-input placeholder="Enter User" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-fab bottom right>
    <ion-button ion-fab (click)="searchUser(username)">
      <ion-icon name="search"></ion-icon>
    </ion-button>
    <ion-button expand="block" ion-fab (click)="LightOn()">
      Flashlight
    </ion-button>
  </ion-fab>

      
</ion-content>
